{
  "openapi": "3.1.0",
  "info": {
    "title": "ShuYou API",
    "version": "1.0.0",
    "description": "Interactive API reference for ShuYou-compatible OpenAI, Anthropic, Google Vertex AI, and management endpoints."
  },
  "servers": [
    {
      "url": "https://api.shuyou.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "schemas": {
      "FlexibleObject": {
        "type": "object",
        "additionalProperties": true
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "example": "openai/gpt-5"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "example": "user"
                },
                "content": {
                  "type": "string",
                  "example": "Hello from ShuYou"
                }
              },
              "additionalProperties": true
            }
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "temperature": {
            "type": "number",
            "example": 0.7
          },
          "max_tokens": {
            "type": "integer",
            "example": 1024
          }
        },
        "additionalProperties": true
      },
      "ResponsesRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "example": "openai/gpt-5"
          },
          "input": {
            "type": "string",
            "example": "Write a short API test."
          },
          "stream": {
            "type": "boolean",
            "default": false
          }
        },
        "additionalProperties": true
      },
      "AnthropicMessagesRequest": {
        "type": "object",
        "required": [
          "model",
          "messages",
          "max_tokens"
        ],
        "properties": {
          "model": {
            "type": "string",
            "example": "anthropic/claude-sonnet-4.6"
          },
          "max_tokens": {
            "type": "integer",
            "example": 1024
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "example": "user"
                },
                "content": {
                  "type": "string",
                  "example": "Hello from ShuYou"
                }
              },
              "additionalProperties": true
            }
          },
          "stream": {
            "type": "boolean",
            "default": false
          }
        },
        "additionalProperties": true
      },
      "GenerateContentRequest": {
        "type": "object",
        "required": [
          "contents"
        ],
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "generationConfig": {
            "type": "object",
            "additionalProperties": true
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      }
    }
  },
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "List Models",
        "operationId": "listModels",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Model list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Create Chat Completion",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI Compatible API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "Create a Model Response",
        "operationId": "createResponse",
        "tags": [
          "OpenAI Compatible API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response object or streaming event stream",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/files": {
      "post": {
        "summary": "Create a file",
        "operationId": "createFile",
        "tags": [
          "Files API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "purpose"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "assistants"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List files",
        "operationId": "listFiles",
        "tags": [
          "Files API"
        ],
        "responses": {
          "200": {
            "description": "File list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/{file_id}": {
      "delete": {
        "summary": "Delete file",
        "operationId": "deleteFile",
        "tags": [
          "Files API"
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "file_abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Generate an image",
        "operationId": "generateImage",
        "tags": [
          "Images API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "google/gemini-2.5-flash-image"
                  },
                  "prompt": {
                    "type": "string",
                    "example": "A clean product shot of a futuristic API dashboard"
                  },
                  "size": {
                    "type": "string",
                    "example": "1024x1024"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated image response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/openrouter/v1/chat/completions": {
      "post": {
        "summary": "Create Chat Completion",
        "operationId": "createOpenRouterChatCompletion",
        "tags": [
          "OpenRouter Compatible API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenRouter-compatible chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/openrouter/v1/messages": {
      "post": {
        "summary": "Create a Message",
        "operationId": "createOpenRouterMessage",
        "tags": [
          "OpenRouter Compatible API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenRouter-compatible message response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/openrouter/v1/responses": {
      "post": {
        "summary": "Create a Response",
        "operationId": "createOpenRouterResponse",
        "tags": [
          "OpenRouter Compatible API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenRouter-compatible response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "summary": "Create a Message",
        "operationId": "createAnthropicMessage",
        "tags": [
          "Anthropic Compatible API"
        ],
        "parameters": [
          {
            "name": "anthropic-version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Anthropic message response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Generate Content",
        "operationId": "generateContent",
        "tags": [
          "Google Compatible API"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "gemini-3.5-flash"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated content response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{model}:streamGenerateContent": {
      "post": {
        "summary": "Stream Generate Content",
        "operationId": "streamGenerateContent",
        "tags": [
          "Google Compatible API"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "gemini-3.5-flash"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "sse"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Streaming generated content response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "List Google Models",
        "operationId": "listGoogleModels",
        "tags": [
          "Google Compatible API"
        ],
        "responses": {
          "200": {
            "description": "Google model list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/predictions": {
      "post": {
        "summary": "Create a prediction",
        "operationId": "createPrediction",
        "tags": [
          "Predictions API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "function",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "gemini-2.5-flash-image"
                  },
                  "function": {
                    "type": "string",
                    "enum": [
                      "image",
                      "video",
                      "audio"
                    ],
                    "example": "image"
                  },
                  "input": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "webhook": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://api.shuyou.ai/api/callback"
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "model": "gemini-2.5-flash-image",
                "function": "image",
                "input": {
                  "prompt": "Generate a ShuYou AI logo",
                  "aspect_ratio": "1:1",
                  "resolution": "1K",
                  "image_urls": [],
                  "num_images": 1,
                  "output_format": "png"
                },
                "webhook": "https://api.shuyou.ai/api/callback"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created prediction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "data": {
                    "task_id": "2c4d50261173430290971a2395a3b607",
                    "task_status": "processing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/predictions/{prediction_id}": {
      "get": {
        "summary": "Get a prediction",
        "operationId": "getPrediction",
        "tags": [
          "Predictions API"
        ],
        "parameters": [
          {
            "name": "prediction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fa746cb19082452b82fea4f496f4065a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prediction detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "code": "0",
                  "usage": {
                    "upstream_cost": 0.039,
                    "discount": 0.00975,
                    "discount_percent": 0.75,
                    "cost": 0.02925
                  },
                  "data": {
                    "task_id": "fa746cb19082452b82fea4f496f4065a",
                    "task_status": "success",
                    "output": [
                      {
                        "type": "image",
                        "image": "https://cdn.shuyou.ai/model/20a60c33ba954d85a669ee0f24da8e38.png?e=1778427598&token=Lk3Kb36M3K8oq2d5pU6CaYyoud2Au-APFP-ThE8B:cZUtU2t4yclXCeW0X3j0gJ8Oc58="
                      }
                    ]
                  },
                  "request_id": "8bd6b5784a1e42b79bf172607f476f56"
                }
              }
            }
          }
        }
      }
    },
    "/v1/credits": {
      "get": {
        "summary": "Get Balance",
        "operationId": "getBalance",
        "tags": [
          "Platform API"
        ],
        "responses": {
          "200": {
            "description": "Get balance response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "data": {
                    "total_credits": 100,
                    "total_usage": 25,
                    "balance": 75
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/generation": {
      "get": {
        "summary": "Get Generation",
        "operationId": "getGeneration",
        "tags": [
          "Platform API"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "gen_01abc123def456"
            },
            "description": "Generation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Generation detail response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "api": "chat.completions",
                  "generationId": "gen_01abc123def456",
                  "model": "openai/gpt-4o",
                  "createAt": "2026-03-26T06:00:00.000Z",
                  "generationTime": 3200,
                  "latency": 500,
                  "usage": {
                    "prompt_tokens": 12,
                    "completion_tokens": 222,
                    "total_tokens": 234,
                    "prompt_tokens_details": {
                      "cached_tokens": 0,
                      "cache_write_tokens": 0,
                      "audio_tokens": 0,
                      "video_tokens": 0
                    },
                    "completion_tokens_details": {
                      "reasoning_tokens": 206,
                      "image_tokens": 0,
                      "audio_tokens": 0
                    },
                    "upstream_cost": 0.0004368,
                    "discount": 0.00004368,
                    "discount_percent": 0.9,
                    "cost": 0.00039312
                  },
                  "streamed": true,
                  "finishReason": "stop"
                }
              }
            }
          }
        }
      }
    }
  }
}
