{
  "openapi": "3.1.0",
  "info": {
    "title": "HappyHorse 1.0 I2V Video Generation",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.shuyou.ai" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/v1/predictions": {
      "post": {
        "tags": ["Video Generation"],
        "summary": "HappyHorse 1.0 I2V",
        "operationId": "createHappyhorse10I2vVideoPrediction",
        "description": "HappyHorse 1.0 I2V (`happyhorse-1.0-i2v`) generates video from a text prompt and optional first frame. Async mode: poll with Get a prediction using `data.task_id`, or use top-level `webhook`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Happyhorse10I2vVideoPredictionRequest" },
              "examples": {
                "image_to_video": {
                  "summary": "Image to video (minimal)",
                  "value": {
                    "model": "happyhorse-1.0-i2v",
                    "function": "video",
                    "input": {
                      "prompt": "The subject slowly turns toward the camera with natural motion"
                    }
                  }
                },
                "image_to_video_full": {
                  "summary": "Image to video (full params)",
                  "value": {
                    "model": "happyhorse-1.0-i2v",
                    "function": "video",
                    "input": {
                      "prompt": "Gentle wind moves through the scene, cinematic lighting",
                      "first_frame_url": "https://example.com/first-frame.png",
                      "resolution": "1080P",
                      "duration": 5,
                      "watermark": false
                    }
                  }
                },
                "with_watermark": {
                  "summary": "With watermark",
                  "value": {
                    "model": "happyhorse-1.0-i2v",
                    "function": "video",
                    "input": {
                      "prompt": "A horse galloping across an open field at sunset",
                      "first_frame_url": "https://example.com/horse-frame.png",
                      "resolution": "720P",
                      "duration": 8,
                      "watermark": true
                    },
                    "webhook": "https://api.shuyou.ai/api/callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async task created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PredictionTaskResponse" },
                "example": {
                  "data": {
                    "task_id": "2c4d50261173430290971a2395a3b607",
                    "task_status": "processing"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "402": {
            "description": "Insufficient quota",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Model access denied",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "`Authorization: Bearer YOUR_API_KEY`"
      }
    },
    "schemas": {
      "Happyhorse10I2vVideoPredictionRequest": {
        "type": "object",
        "required": ["model", "function", "input"],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model ID. Use `happyhorse-1.0-i2v` for this endpoint.",
            "enum": ["happyhorse-1.0-i2v"],
            "default": "happyhorse-1.0-i2v",
            "example": "happyhorse-1.0-i2v"
          },
          "function": {
            "type": "string",
            "description": "Task type. Must be `video` for video generation.",
            "enum": ["video"],
            "example": "video"
          },
          "input": { "$ref": "#/components/schemas/Happyhorse10I2vVideoInput" },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "Optional HTTPS callback URL when the task completes, fails, or is cancelled (Predictions API)."
          }
        }
      },
      "Happyhorse10I2vVideoInput": {
        "type": "object",
        "required": ["prompt"],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the video to generate.",
            "maxLength": 2500,
            "example": "The subject slowly turns toward the camera with natural motion"
          },
          "first_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the first frame of the video."
          },
          "resolution": {
            "type": "string",
            "description": "Resolution of the generated video. Default `1080P`.",
            "enum": ["720P", "1080P"],
            "default": "1080P",
            "example": "1080P"
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the generated video in seconds. Default `5`.",
            "enum": [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
            "default": 5,
            "example": 5
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark. When `true`, a fixed \"Happy Horse\" text watermark is placed at the bottom-right corner. Default `false`.",
            "default": false,
            "example": false
          }
        }
      },
      "PredictionTaskResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Async task ID. Use with Get a prediction or webhook correlation.",
                "example": "2c4d50261173430290971a2395a3b607"
              },
              "task_status": {
                "type": "string",
                "description": "Current task status, e.g. `processing`.",
                "example": "processing"
              }
            },
            "required": ["task_id", "task_status"]
          }
        },
        "required": ["data"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      }
    }
  }
}
