{
  "openapi": "3.1.0",
  "info": {
    "title": "Grok Imagine Video",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.shuyou.ai" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/v1/predictions": {
      "post": {
        "tags": ["Video Generation"],
        "summary": "Grok Imagine Video 视频生成",
        "operationId": "createGrokImagineVideoPrediction",
        "description": "xAI Grok Imagine Video（`grok-imagine-video`）通过 POST /v1/predictions（`function` 为 `video`）异步生成视频。支持文生视频、首帧图生视频与参考图。使用 `data.task_id` 轮询 [Get a prediction](/zh/api-reference/task-management/get-prediction)，或配置顶层 `webhook` 接收回调。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GrokImagineVideoPredictionRequest" },
              "examples": {
                "text_to_video": {
                  "summary": "文生视频",
                  "value": {
                    "model": "grok-imagine-video",
                    "function": "video",
                    "input": {
                      "prompt": "A cinematic shot of a majestic lion in the savannah at golden hour",
                      "aspect_ratio": "16:9",
                      "resolution": "720P",
                      "duration": 8
                    }
                  }
                },
                "text_to_video_minimal": {
                  "summary": "最简请求",
                  "value": {
                    "model": "grok-imagine-video",
                    "function": "video",
                    "input": {
                      "prompt": "A cat playing on the grass"
                    }
                  }
                },
                "image_to_video": {
                  "summary": "首帧图生视频",
                  "value": {
                    "model": "grok-imagine-video",
                    "function": "video",
                    "input": {
                      "prompt": "The subject slowly turns toward the camera",
                      "aspect_ratio": "16:9",
                      "resolution": "720P",
                      "duration": 6,
                      "first_frame_url": "https://example.com/first-frame.png"
                    },
                    "webhook": "https://api.shuyou.ai/backend/api/callback"
                  }
                },
                "with_references": {
                  "summary": "参考图",
                  "value": {
                    "model": "grok-imagine-video",
                    "function": "video",
                    "input": {
                      "prompt": "A character walking through a neon-lit street, consistent appearance",
                      "aspect_ratio": "9:16",
                      "resolution": "480P",
                      "duration": 10,
                      "reference_image_urls": ["https://example.com/character-ref.png"]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "异步任务已创建",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PredictionTaskResponse" },
                "example": {
                  "data": {
                    "task_id": "2c4d50261173430290971a2395a3b607",
                    "task_status": "processing"
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "402": {
            "description": "配额不足",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "无权访问模型",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "请求过于频繁",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "服务器内部错误",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "`Authorization: Bearer YOUR_API_KEY`"
      }
    },
    "schemas": {
      "GrokImagineVideoPredictionRequest": {
        "type": "object",
        "required": ["model", "function", "input"],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型 ID。本接口使用 `grok-imagine-video`。",
            "enum": ["grok-imagine-video"],
            "default": "grok-imagine-video",
            "example": "grok-imagine-video"
          },
          "function": {
            "type": "string",
            "description": "任务类型。视频生成须为 `video`。",
            "enum": ["video"],
            "example": "video"
          },
          "input": { "$ref": "#/components/schemas/GrokImagineVideoInput" },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "可选。任务完成、失败或取消时的 HTTPS 回调地址。"
          }
        }
      },
      "GrokImagineVideoInput": {
        "type": "object",
        "required": ["prompt"],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "描述待生成视频的文本提示词。",
            "example": "A cinematic shot of a majestic lion in the savannah at golden hour"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "生成视频的宽高比。",
            "enum": ["1:1", "16:9", "9:16", "4:3", "3:4", "3:2", "2:3"],
            "example": "16:9"
          },
          "resolution": {
            "type": "string",
            "description": "生成视频的分辨率。",
            "enum": ["480P", "720P"],
            "example": "720P"
          },
          "duration": {
            "type": "integer",
            "description": "生成视频时长（秒）。",
            "minimum": 1,
            "maximum": 15,
            "default": 8,
            "example": 8
          },
          "first_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "待动画化的输入图片 URL。建议 720p 及以上，且为 16:9 或 9:16；其他比例会被裁剪以适配。"
          },
          "reference_image_urls": {
            "type": "array",
            "description": "参考图 URL 列表，用于保持主体外观一致。最多 3 张。",
            "items": { "type": "string", "format": "uri" },
            "maxItems": 3,
            "default": []
          }
        },
        "additionalProperties": true
      },
      "PredictionTaskResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "description": "异步任务 ID。可用于 Get a prediction 或与 webhook 关联。",
                "example": "2c4d50261173430290971a2395a3b607"
              },
              "task_status": {
                "type": "string",
                "description": "当前任务状态，如 `processing`。",
                "example": "processing"
              }
            },
            "required": ["task_id", "task_status"]
          }
        },
        "required": ["data"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      }
    }
  }
}
